numpy
pandas
matplotlib
omegaconf

scikit-learn
transformers
accelerate
huggingface_hub[hf_transfer,hf_xet] # for faster downloads
sentence-transformers

# required packages for cardiffnlp/twitter-xlm-roberta-base-sentiment
sentencepiece
tiktoken
protobuf

ipykernel
ipywidgets
tqdm
