numpy
pandas
matplotlib
omegaconf
wandb

scikit-learn
transformers
accelerate
huggingface_hub[hf_transfer,hf_xet] # for faster downloads
sentence-transformers
xgboost
nltk

# required packages for cardiffnlp/twitter-xlm-roberta-base-sentiment
sentencepiece
tiktoken
protobuf

ipykernel
ipywidgets
tqdm
